<!DOCTYPE html>
<style type="text/css">
h2 {
	display: inline;
}
</style>


<h1>{{obj.name}}</h1>
<input value = "{{obj.status}}" type = "hidden" id = "status"></input>
<h2>Status: </h2><h2><small id = "unassigned">Unassigned</small></h2>
&nbsp;<span class = "glyphicon glyphicon-arrow-right"></span>&nbsp;
<h2><small id = "assigned">Assigned</small></h2>
&nbsp;<span class = "glyphicon glyphicon-arrow-right"></span>&nbsp;
<h2><small id = "bounded">Bounded</small></h2>
&nbsp;////&nbsp;
<h2><small id = "declined">Declined</small></h2>
<br>
<br>
<div class="row" style="margin: 15px">
		<button class="btn btn-default" onclick="showmodal('addevent');">Add Event!</button>
		<button class="btn btn-default" onclick="showmodal('changeStatus');">Change Status!</button>
</div>
<div class="row">
	<div class="col-xs-6">
		<div class = "panel panel-default">
			<div class = "panel-heading">Basic Info <div style = "float:right"><span class = "glyphicon glyphicon-edit" onclick = "$('#StuInfo_modal').modal('show');"></span>&nbsp;&nbsp;<span class = "glyphicon glyphicon-plus" onclick = "$('#basicinfo').hide();$('#basicinfo2').show();"></span>&nbsp;&nbsp;<span class = "glyphicon glyphicon-minus" onclick = "$('#basicinfo').show();$('#basicinfo2').hide();"></span></div></div>
			<div class = "panel-body">
				<p onclick = "$('#basicinfo').hide();$('#basicinfo2').show();" style = "display:none;text-align: center;" id = "basicinfo">Click to Show</p>
				<ul id = "basicinfo2">
					<li>curYear: {{obj.stuInfo.curYear}}</li>
					<li>curSchool: {{obj.stuInfo.curSchool}}</li>
					<li>tel: {{obj.stuInfo.tel}}</li>
					<li>parName: {{obj.stuInfo.parName}}</li>
					<li>email: {{obj.stuInfo.email}}</li>
					<li>stuSource: {{obj.stuInfo.stuSource}}</li>
					<li>tarCountry: {{obj.stuInfo.tarCountry}}</li>
					<li>tarSchType: {{obj.stuInfo.tarSchType}}</li>
					<li>tarSchYear: {{obj.stuInfo.tarSchYear}}</li>
					<li>division: {{obj.stuInfo.division}}</li>
					<li>aquireDate: {{obj.stuInfo.aquireDate}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class = "panel panel-default">
			<div class = "panel-heading">Service Team<div style = "float:right"><span class = "glyphicon glyphicon-plus" onclick = "$('#serviceteam').hide();$('#serviceteam2').show();"></span>&nbsp;&nbsp;<span class = "glyphicon glyphicon-minus" onclick = "$('#serviceteam').show();$('#serviceteam2').hide();"></span></div></div>
			<div class = "panel-body">
				<p onclick = "$('#serviceteam').hide();$('#serviceteam2').show();" style = "display:none;text-align: center;" id = "serviceteam">Click to Show</p>
				<ul id = "serviceteam2">
					<!-- <li>AssignDate: {{obj.ServiceTeam.AssignDate}}</li> -->
					<!-- <li>Sales: {{obj.ServiceTeam.Sales}}</li>
					<li>Waiji: {{obj.ServiceTeam.Waiji}}</li>
					<li>Celue: {{obj.ServiceTeam.Celue}}</li>
					<li>Wenshu: {{obj.ServiceTeam.Wenshu}}</li> -->
					<li>Liucheng: {{obj.serviceTeam.liuCheng}}</li>
				</ul>
			</div>	
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class = "panel panel-default">
			<div class = "panel-heading">Memo<div style = "float:right"><span class = "glyphicon glyphicon-edit" onclick = "$('#memo_modal').modal('show');"></span>&nbsp;&nbsp;<span class = "glyphicon glyphicon-plus" onclick = "$('#memo').hide();$('#memoDiv').show();"></span>&nbsp;&nbsp;<span class = "glyphicon glyphicon-minus" onclick = "$('#memo').show();$('#memoDiv').hide();"></span></div></div>
			<div class = "panel-body">
				<p onclick = "$('#memo').hide();$('#memoDiv').show();" style = "display:none;text-align: center;" id = "memo">Click to Show</p>
				<p id = "memoDiv">
					{{obj.memo}}
				</p>
			</div>	
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class = "panel panel-default">
			<div class = "panel-heading">Decline<div style = "float:right"><span class = "glyphicon glyphicon-edit" onclick = "$('#Cancel_modal').modal('show');"></span>&nbsp;&nbsp;<span class = "glyphicon glyphicon-plus" onclick = "$('#Cancel').hide();$('#CancelDiv').show();"></span>&nbsp;&nbsp;<span class = "glyphicon glyphicon-minus" onclick = "$('#Cancel').show();$('#CancelDiv').hide();"></span></div></div>
			<div class = "panel-body">
				<p onclick = "$('#Cancel').hide();$('#CancelDiv').show();" style = "display:none;text-align: center;" id = "Cancel">Click to Show</p>
				<p id = "CancelDiv">
					{{obj.declinedReason}}
				</p>
			</div>	
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class = "panel panel-default">
			<div class = "panel-heading">Events<div style = "float:right"></span>&nbsp;&nbsp;<span class = "glyphicon glyphicon-plus" onclick = "$('#events').hide();$('#eventsDiv').show();"></span>&nbsp;&nbsp;<span class = "glyphicon glyphicon-minus" onclick = "$('#events').show();$('#eventsDiv').hide();"></span></div></div>
			<div class = "panel-body">
				<p onclick = "$('#events').hide();$('#eventsDiv').show();" style = "display:none;text-align: center;" id = "events">Click to Show</p>
				<p id = "eventsDiv">
					{{#each obj.stuEvents}}
					<p class = "eventsDivItem" date = '{{this.date}}'>
						Date: {{this.date}}<br>
						Memo: {{this.memo}}<br>
					</p>
					{{/each}}
				</p>
				<p id = "historyEventsDiv">
					<hr />
					<b>Compeleted Events:</b>
					{{#each obj.historyEvents}}
					<p>
						Date: {{this.date}}<br>
						Memo: {{this.memo}}<br>
					</p>
					{{/each}}
				</p>
			</div>	
		</div>
	</div>
</div>

<div class = "modal" id = "StuInfo_modal">
	<div class = "modal-dialog">
		<div class = "modal-content">
			<form method="POST" action="/api/stuInfo">
				<input value = "{{slug}}" name = "slug" type = "hidden"></input>
				<div class = "modal-header">
					<button type = "button" class = "close" data-dismiss = "modal"><span>&times;</span><span class = "sr-only">Close</span></button>
					<h4>Student Info</h4>
				</div>
				<div class = "modal-body">
					curYear: <input value = "{{obj.stuInfo.curYear}}" name="curYear" type = "year"><br><br>
					curSchool: <input value = "{{obj.stuInfo.curSchool}}" name="curSchool" type = "text"><br><br>
					tel: <input value = "{{obj.stuInfo.tel}}" name="tel" type = "text"><br><br>
					parName: <input value = "{{obj.stuInfo.parName}}" name="parName" type = "text"><br><br>
					email: <input value = "{{obj.stuInfo.email}}" name="email" type = "email"><br><br>
					stuSource: <input value = "{{obj.stuInfo.stuSource}}" name="stuSource" type = "tel"><br><br>
					tarCountry: <input value = "{{obj.stuInfo.tarCountry}}" name="tarCountry" type = "text"><br><br>
					tarSchType: <input value = "{{obj.stuInfo.tarSchType}}" name="tarSchType" type = "text"><br><br>
					tarSchYear: <input value = "{{obj.stuInfo.tarSchYear}}" name="tarSchYear" type = "text"><br><br>
					division: <input value = "{{obj.stuInfo.division}}" name="division" type = "text"><br><br>
					aquireDate: <input value = "{{obj.stuInfo.aquireDate}}" name="aquireDate" type = "text"><br><br>
				</div>
				<div class = "modal-footer">
					<button type = "submit">Update</button>	
				</div>
			</form>
		</div>
	</div>
</div>

<div class = "modal" id = "memo_modal">
	<div class = "modal-dialog">
		<div class = "modal-content">
			<form method="POST" action="/api/setmemo" id="setmemo">
				<input value = "{{slug}}" name = "slug" type = "hidden"></input>
				<div class = "modal-header">
					<button type = "button" class = "close" data-dismiss = "modal"><span>&times;</span><span class = "sr-only">Close</span></button>
					<h4>Student Memo</h4>
				</div>
				<div class = "modal-body">
					<label for="stumemo">Memo:</label>
					<textarea class="form-control" id = "stumemo" rows="5" name = "stumemo" type = "text" form="setmemo" placeholder = "Enter memo here ..."></textarea>
				</div>
				<div class = "modal-footer">
					<button type = "submit">Update</button>	
				</div>
			</form>
		</div>
	</div>
</div>

<div class = "modal" id = "changeStatus">
	<div class = "modal-dialog">
		<div class = "modal-content">
			<div class = "modal-header">
				<button type = "button" class = "close" data-dismiss = "modal"><span>&times;</span><span class = "sr-only">Close</span></button>
				<h4>Change Status</h4>
			</div>
			<div class = "modal-body">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="statusdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Select from following</button><span class="caret"></span>
					<ul class="dropdown-menu" aria-labelledby="statusdropdown">
						<li class="radio"><label><input type="radio" class="custom-control-input" id="reassignradio" name="statusRadios">Reassign</label></li>
    					<li class="radio"><label><input type="radio" class="custom-control-input" id="boundradio" name="statusRadios">Bound</label></li>
    					<li class="radio"><label><input type="radio" class="custom-control-input" id="declineradio" name="statusRadios">Decline</label></li>
					</ul>
				</div>
				<br>
				<form id = "Reassignform" method="POST" action="/api/assignstu">
					Assign {{obj.name}} to:
					<select name = "liucheng" id = "liuChengSelection" form = "Reassignform" class="form-control">
					{{#each allusers}}
						<option value = "{{this.username}}">{{this.username}}</option>
					{{/each}}
					</select>
					<input name = "stuid" value="{{obj._id}}" style = "display:none;" type = "text"><br>
					<button class="btn btn-default" type = "submit">Update</button>	
				</form>
				<form id = "Boundform" method="POST" action="/api/bound">
					{{obj.name}}<br>
					<input value = "{{slug}}" name = "slug" type = "hidden"></input>
					<button class="btn btn-success" type = "submit">Set to Bound</button>	
				</form>
				<form id = "Declineform" method="POST" action="/api/decline">
					{{obj.name}}
					<label for="declineReason">Declined Reason:</label>
					<textarea class="form-control" id = "declineReason" rows="5" name = "declineReason" type = "text" form="addeventform" placeholder = "Enter reason here ..."></textarea>
					<input value = "{{slug}}" name = "slug" type = "hidden"></input>
					<button class="btn btn-default" type = "submit">Decline</button>	
				</form>
			</div>
			<div class = "modal-footer">
			</div>
		</div>
	</div>
</div>

<div class = "modal" id = "addevent">
	<div class = "modal-dialog">
		<div class = "modal-content">
			<form id = "addeventform" method="POST" action="/api/addevent">
				<div class = "modal-header">
					<button type = "button" class = "close" data-dismiss = "modal"><span>&times;</span><span class = "sr-only">Close</span></button>
					<h4>Add Event</h4>
				</div>
				<div class = "modal-body">
					<label>Date:&nbsp;</label><input name = "date" type = "date"><br>
					<label for="evtMemo">Memo:</label>
					<textarea class="form-control" id = "evtMemo" rows="5" name = "memo" type = "text" form="addeventform" placeholder = "Enter memo here ..."></textarea>
					<input name = "stuid" value="{{obj._id}}" style = "display:none;" type = "text">
				</div>
				<div class = "modal-footer">
					<button type = "submit">Create</button>	
				</div>
			</form>
		</div>
	</div>
</div>

<style>
.dropdown-menu > li.radio{
	padding: 3px 20px;
}
</style>

<script>
$( document ).ready(function() {
	console.log("ready")
    var status = $("#status").val();
    console.log(status);
    $('#'+status).css("font-size", "100%");
    $('#'+status).css("color", "black");
    $("#Reassignform").hide()
    $("#Boundform").hide()
    $("#Declineform").hide()


    $(".dropdown-menu").click(function(e){
    	// e.stopPropagation();
    	var res;
    	if($("#reassignradio").prop("checked")) res = "Reassign";
		if($("#boundradio").prop("checked")) res = "Bound";
		if($("#declineradio").prop("checked")) res = "Decline";
		console.log(res)
		$("#statusdropdown").text(res)
		$("#Reassignform").hide()
    	$("#Boundform").hide()
    	$("#Declineform").hide()
		$("#" + res + "form").show()
    })
    var eventsDivItems = $('.eventsDivItem');
    eventsDivItems.sort(function (a, b) {
    	return Date.parse(b.getAttribute('date')) - Date.parse(a.getAttribute('date'))
    });
    eventsDivItems.detach().appendTo("#eventsDiv");
});


var showmodal = function(e){
	var table = $("#" + e);
	console.log('show modal ' + e);
	table.modal('show');
}

</script>






